html, body {
    height: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#profile-content {
    background-color: transparent;
    border: 0px;
    margin-top: 128px;
}

#profile-box {
    text-align: center;
    color: white;
}

#profile-img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 4px;
    border-style: solid;
    border-color: #3F51B5;
}

#profile-btn {
    color: white;
    border-color: white;
}
#profile-btn:hover {
    background-color: #3F51B5;
}

.navbar {
    background-color: #3F51B5;
    border: 2px;
    border-color: #1A237E;
}

.nav-link {
    color: white;
}
.nav-link:hover {
    color: #C5CAE9;
}

.navbar-brand {
    color: white !important;
}

#map-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

#map {
    position: absolute;
    width: 100%;
    height: 100%;
}

.navbar {
    position: absolute;
    z-index: 100;
    width: 100%;
}
