{% include "header.html" %}
    </head>
    <body>
        <div class='modal fade' id='profile-modal'>
            <div class='modal-dialog' role='content'>
                <div class='modal-content' id='profile-content'>
                    <div class='modal-body' id='profile-box'>
                        <h2>Hello, World!</h2>
                        <img id='profile-img' src="{{ url_for('static', filename='profile.jpg') }}"/>
                        <h1>Ethan Graf</h1>
                        <button type="button" data-dismiss='modal' id='profile-btn' class="btn btn-outline-primary">Enter</button>
                    </div>
                </div>
            </div>
        </div>
        <div id='map-wrapper'>
            {% include "navbar.html" %}
            <div id='drawer'>
                <div id='drawer-content'></div>
            </div>
            <div id='map'></div>
        </div>
        
        {% include "includes.html" %}
        <script src="{{ url_for('static', filename='locations.js') }}"></script>
    </body>
</html>
        
        
