        <nav class='navbar navbar-toggleable navbar-light bg-faded'>
            <div class='container'>
                <ul class='nav'>
                    <li>
                        <a class='navbar-brand' href='#'>Ethan Graf</a>
                    </li>
                    <li class='nav-item'>
                        <a class='nav-link' href="{{ url_for('about') }}">About</a>
                    </li>
                    <li class='nav-item'>
                        <a class='nav-link' href="{{ url_for('portfolio') }}">Portfolio</a>
                    </li>
                    <li class='nav-item'>
                        <a class='nav-link' href="{{ url_for('blog') }}">Blog</a>
                    </li>
                    <li class='nav-item'>
                        <a class='nav-link' href="{{ url_for('contact') }}">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>

