{% include "header.html" %}
  </head>
  <body>
      {% include "navbar.html" %}
      <section class="timeline">
          <ul>
              {% for project in portfolio %}
              <li>
                  <div>
                      <h5>{{ project.title }}</h5>
                      <p>{{ project.text }}</p>
                  </div>
              </li>
              {% endfor %}
          </ul>
      </section>
      {% include "includes.html" %}
      <script src="{{ url_for('static', filename='timeline.js') }}"></script>
    </body>
</html>
